# Dependencies
node_modules/

# Build
out/
cache/
artifacts/
typechain/
typechain-types/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Foundry
broadcast/

# Tests & Fuzzing
test/
echidna/
echidna.yaml
echidna-corpus/
crytic-export/

# Coverage
coverage/
coverage.json
lcov.info

# Misc
*.log
*.pdf
*.zip
rwa_01
rwa_02
lib/
